/* CSS BY (Alexander Stanichuk) */
/* IMPORTED FONTS */
@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap);
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ROOT VARIABLES */
:root{
    --teal: #4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dark-gray: #1E1E1E;
    --white: #ffffff;

    font-family: Inter;
    background-color: var(--lavender);
}
/* GLOBAL STYLES (mobile first/small) */

@media only screen and (max-device-width: 450px) {
    
}

h1{
    font-family: Kavoon;
    font-size: 3em;
    color: var(--white);
}

h2{
    font-family: Kavoon;
    font-size: 2em;
    color: var(--white);
}

h3{
    font-size: 1.5em;
    color: var(--yellow);
}

h4{
    font-size: 1.15em;
    color: var(--purple);
}

header{
    background-color: var(--purple);
    width: 450px;
    text-align: center;
    color: var(--white);
    margin-left: auto;
    margin-right: auto;
}

#ptsuccess{
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#ptsuccess > h1{
    padding-bottom: 10px;
}

#ptsuccess > p{
    font-style: italic;
}

nav{
    background-color: var(--yellow);
    text-align: center;
    margin: 0px;
    padding-bottom: 20px;
}

nav > h2{
    font-size: 1.5em;
    padding: 15px;
    padding-bottom: 10px;
    font-family: Inter;
    font-weight: bolder;
    text-transform: uppercase;
    font-style: italic;
    color: var(--dark-gray);
}

li{
    margin-bottom: 10px;
    background-color: var(--white);
    padding: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

li > a{
    color: var(--purple);
    text-decoration: none;
    font-weight: bolder;
    text-transform: uppercase;
}

body{
    width: 450px;
    background-color: var(--purple);
    color: var(--dark-gray);
    margin-left: auto;
    margin-right: auto;
}

#services > h2{
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#services > h3{
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bolder;
}

#persdev{
    border-radius: 15px;
    background-color: var(--white);
    padding: 30px;
    margin: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#persdev > img{
    padding-bottom: 10px;
    resize: 100%;
}

#persdev > h4{
    font-weight: bolder;
    padding-bottom: 10px;
}

#persdev > p{
    line-height: 130%;
    margin-right: 20px;
}

#careercoach{
    border-radius: 15px;
    background-color: var(--white);
    padding: 30px;
    margin: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#careercoach > img{
    padding-bottom: 10px;
    resize: 100%;
}

#careercoach > h4{
    font-weight: bolder;
    padding-bottom: 10px;
}

#careercoach > p{
    line-height: 130%;
    margin-right: 20px;
}

#relationship{
    border-radius: 15px;
    background-color: var(--white);
    padding: 30px;
    margin: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#relationship > img{
    padding-bottom: 10px;
    resize: 100%;
}

#relationship > h4{
    font-weight: bolder;
    padding-bottom: 10px;
}

#relationship > p{
    line-height: 130%;
    margin-right: 0px;
}

#community{
    border-radius: 15px;
    background-color: var(--white);
    padding: 30px;
    margin: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#community > img{
    padding-bottom: 10px;
    resize: 100%;
}

#community > h4{
    font-weight: bolder;
    padding-bottom: 10px;
}

#community > p{
    line-height: 130%;
    margin-right: 30px;
}

#focsession{
    border-radius: 15px;
    background-color: var(--white);
    padding: 30px;
    margin: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#focsession > img{
    padding-bottom: 10px;
    resize: 100%;
}

#focsession > h4{
    font-weight: bolder;
    padding-bottom: 10px;
}

#focsession > p{
    line-height: 130%;
    margin-right: 20px;
}

#interactive{
    border-radius: 15px;
    background-color: var(--white);
    padding: 30px;
    margin: 25px;
    margin-top: 5px;
    margin-bottom: 15px;
}

#interactive > img{
    padding-bottom: 10px;
    resize: 100%;
}

#interactive > h4{
    font-weight: bolder;
    padding-bottom: 10px;
}

#interactive > p{
    line-height: 130%;
    margin-right: 20px;
}

#flexible{
    border-radius: 15px;
    background-color: var(--white);
    padding: 20px;
    margin: 25px;
    margin-top: 5px;
}

#flexible > img{
    padding-bottom: 10px;
    resize: 100%;
}

#flexible > h4{
    font-weight: bolder;
    padding-bottom: 10px;
}

#flexible > p{
    line-height: 130%;
    margin-right: 30px;
}

#whychoose{
    background-color: var(--pink);
    margin: 0;
    padding: 15px;
    padding-bottom: 1px;
}

#whychoose > h2{
    margin-bottom: 15px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    padding-bottom: 5px;
    row-gap: 15px;
    column-gap: 15px;
}

div.grid > .b1{
    border-radius: 15px;
    background-color: var(--teal);
    text-align: center;
    font-weight: bolder;
    padding: 30px;
}

div.grid > .b2{
    border-radius: 15px;
    background-color: var(--lavender);
    text-align: center;
    font-weight: bolder;
    padding: 30px;
}

div.grid > .b3{
    border-radius: 15px;
    background-color: var(--yellow);
    text-align: center;
    font-weight: bolder;
    padding: 30px;
}

div.grid > .b4{
    border-radius: 15px;
    background-color: var(--white);
    text-align: center;
    font-weight: bolder;
    padding: 30px;
}

#prices{
    display: block;
    text-align: left;
    margin: 20px;
}

#prices > h3{
    font-weight: bolder;
    margin: 10px;
    margin-left: 0px;
}

table{
    margin-left: auto;
    margin-right: auto;
    background-color: var(--white);
    border: var(--yellow) 2px solid;
    width: 60%;
}

th{
    background-color: var(--yellow);
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}

td{
    border: 2px var(--yellow) solid;
    padding: 15px;
}

footer{
    margin-left: auto;
    margin-right: auto;
}

#firststep{
    background-color: var(--pink);
    padding: 20px;
    padding-bottom: 10px;
}

#firststep > h2{
    margin-bottom: 10px;
}

#firststep > p{
    color: var(--white);
    line-height: 150%;
}

button {
    display: inline-block;
    background-color: var(--white);
    border: none;
    border-radius: 15px;
    color: var(--dark-gray);
    text-align: center;
    text-decoration: none;
    font-family: Inter;
    font-size: large;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;

    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom:0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 110px;
    padding-right: 110px;

    box-shadow: 4px 5px 3px 1px var(--dark-gray);
}

.foot{
    background-color: var(--purple);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 20px;
    padding: 50px;
    text-align: center;
    color: var(--white);
    font-size: small;
}

.foot > div > a {
    color: var(--white);
}
